{
  "root": true,
  "env": {
    "es6": true,
    "browser": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": ["airbnb", "airbnb-typescript"],
  "rules": {
    "@typescript-eslint/comma-dangle": "off",
    "import/prefer-default-export": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "comma-dangle": "off",
    "max-len": "off",
    "no-console": "off",
    "react/prop-types": "off",
    "arrow-body-style": "off",
    "no-confusing-arrow": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "implicit-arrow-linebreak": "off",
    "no-plusplus": "off",
    "no-return-assign": "off",
    "object-curly-newline": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-max-props-per-line": "off",
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off",
    "global-require": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "react/jsx-props-no-spreading": "off",
    "no-param-reassign": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": ["**/*.test.js", "**/*.spec.js"] }],
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "no-use-before-define": "off",
    "no-unused-expressions": "off",
    "consistent-return": "off",
    "@typescript-eslint/no-use-before-define": ["off"],
    "@typescript-eslint/interface-name-prefix": "off",
    "react-native/no-inline-styles": "off",
    "no-prototype-builtins": "off",
    "import/no-cycle": "off",
    "no-shadow": "off",
    "no-underscore-dangle": "off",
    "camelcase": "off",
    "react/jsx-closing-bracket-location": "off"
  }
}
